{% extends 'base.html' %}
{% block content %}

<!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Teachers</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Teachers</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                <h1>Meet Our Teachers</h1>
            </div>
            <div class="row">
                {% for teacher in teachers %}
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="/media/{{ teacher.logo }}" alt="">
                            <div class="team-social">
                                {% if teacher.twitter %}
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if teacher.facebook %}
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                {% endif %}
                                {% if teacher.linkedIn %}
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.linkedIn }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                {% endif %}
                                {% if teacher.instagram %}
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/{{ teacher.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                                {% endif %}
                                {% if teacher.whatsapp %}
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.whatsapp }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                {% endif %}
                                {% if teacher.telegram %}
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.telegram }}" target="_blank"><i class="fab fa-telegram"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>{{ teacher.title }}</h5>
                            <a href="/blog/?category_id={{ teacher.profession_foreign.id }}#BLOG"><p class="m-0">{{ teacher.profession_foreign.title }}</p></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.js-teacher-active').addClass('active');
</script>
{% endblock %}